body {
    font: 16px/1.5  Arial, Verdana, Tahoma, sans-serif;
    color: #2980b9;
}

label {
    width: 150px;
    display:inline-block;
}

table {
    max-width: 700px;
    border: 1px solid #2980b9;
    border-collapse: collapse;
    margin: 7px;
    color: black;
    background-color: #2980b9;
}

td, th {
    border: 1px solid #2d6938;
    height: 30px;
    padding: 0 7px;
    max-width: 500px;
}

th {
    background-color: #c8ffc8;
    color: #2d6938;
}

#main {
    width: 850px;
    margin-left:auto;
    margin-right:auto;
}

#books {
    position: relative;
}

#dialog {
    overflow: hidden;
    margin: 24px;
    border: 1px solid #c0c0c0;
    background: #f8f8f8;
}

#search {
    padding: 30px 25px 40px 25px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}
